.box {
  width: 400px;
  margin: 20px;
  background: #dedede url(../image/topo.png) no-repeat left top;
}

.box h2 {
  padding: 10px 20px 0 20px;
}

.box p {
  padding: 0 20px 20px 20px;
}

.box .last {
  width: 400px;
  height: 24px;
  background: url(../image/baixo.png) no-repeat left bottom;
}

.box2 {
  width: 400px;
  margin: 20px;
  background: #dedede url(../image/fundo-arredondamento.png) repeat-y top;
}

.box2 h2 {
  padding: 10px 20px 0 20px;
  background: url(../image/topo2.png) no-repeat left top;
}

.box2 p {
  padding: 0 20px 20px 20px;
}

.box2 .last {
  width: 400px;
  height: 24px;
  padding-bottom: 20px;
  background: url(../image/baixo2.png) no-repeat left bottom;
}